body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: table;
}
.parent {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;

    display: table-cell;
    vertical-align: middle;
}

.son {
    width: 500px;
    height: 500px;
    background-color: cornflowerblue;

    /*display: table-cell;*/
    /*position: absolute;*/
    /*margin: auto 0;*/
}
